.text-black{
	color: #000;
}

.text-blue{
	color: #2693c6;
}

.text-dark-gray{
	color: #636363;
}

.text-muli{
	font-family: Muli;
}

.text-thin{
	font-weight: 300;
}

.color-border{
	background: url(../images/top_color.png) repeat-x;
}

.color-border-bottom{
	background: url(../images/top_color.png) repeat-x;
	width: 100%;
	height: 10px;
	overflow: auto;
}

html{
	background: url(../images/side_color.png) repeat-y;
	background-size: 100%;
}

.text-title{
	/*text-decoration: underline;*/
	text-transform: uppercase;
	color: #2693c6;
	letter-spacing: 2px;
	margin: 15px auto;
	font-family: 'Muli', sans-serif;
	display: inline-block;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
}


.text-title:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid #2693c6;
}

.text-title-thankyou{
	text-transform: uppercase;
	color: #2693c6;
	letter-spacing: 1px;
	margin: 15px auto;
	font-family: 'Muli', sans-serif;
  text-align: center;
}

.phone-thumbnail a p{
	color: #000;
	font-size: 20px;
}

.phone-thumbnail >a{
	display: block;
}

.phone-thumbnail {
	margin-top: 30px;
}

.btn-default{
	border-radius: 20px;
	text-transform: uppercase;
}

.btn-default:hover{
	background: #3399cc;
	color: #fff;
	border: 1px solid #3399cc;
}

.dashed-bordered{
	border-bottom: 1px dashed #ccc;
}

.input-data label{
	font-family: 'Muli';
	font-size: 11px;
	text-transform: uppercase;
	color: #2693c6;
}

.input-data input{
	background: #f6f4f7;
	border: 1px solid #cfcfcf;
	border-radius: 0;
}

.error-message{
	background: #ffcbcd;
	border: 1px solid #df8f8e;
	padding: 10px;
	text-align: center;
	color: #d24a56;
	font-family: Muli;
	overflow: auto;
	margin: 5px 0;
}

.gap-bottom-small{
	margin-bottom: 30px;
	clear: both;
}